%h1= "Welcome#{", #{@user.name}" if @user.name != ''}!"
%h2= "Here are your representatives:"
%table
  - @reps.each do |rep|
    %tr
      %td= "#{rep.title} #{rep.name}"
      %td= "#{rep.party}"
%table
  - @reps.each do |rep|
    %h3= rep.name
    - rep.get_news.each do |story|
      .story
        %p= story
