%h1= "Welcome#{", #{@user.name}" if @user.name != ''}!"
%h2= "Here are your representatives:"
%table.table.table-hover
  - @reps.each do |rep|
    %tr
      %td
        %a{href: "##{rep.name.gsub(' ', '_')}"}= "#{rep.title} #{rep.name}"
      %td= "#{rep.party}"
- @reps.each do |rep|
  %a{name: "#{rep.name.gsub(' ', '_')}"}
  %h3= rep.name
  - rep.get_news.each do |story|
    %h4= story[:title]
    - story[:text].each do |paragraph|
      %p= paragraph
